:host {
	--tui-theme-color: #fff !important;

	::ng-deep {
		aside[tuiNavigationAside] {
			padding: 0.5rem 0.7rem 0.25rem;
		}
	}
}

aside::before {
	display: none;
}

aside {
	height: 100%;
}

aside::after {
	display: none;
}

.site-nav._active {
	background: #26abe4 !important;
	border-radius: 3px;
	color: white;
}

.site-nav:hover {
	background: transparent !important;
	border-radius: 0;
	color: #26abe4 !important;
}

header {
	margin-top: 1rem;
}

.site-nav {
	font-weight: 600;
	font-size: 17px;
	line-height: 24px;
	width: 332px;
	height: 50px;
	--t-padding: 20px;
}

.logo {
	margin-bottom: 2rem;
	display: flex;
	justify-content: left;
	padding-left: 5px;
	column-gap: 2px;
}

.icon-text {
	font-weight: 600;
	font-size: 20px;
	line-height: 48px;
	color: rgba(37, 69, 104, 1);
}
