<aside [tuiNavigationAside]="true" [attr.tuiTheme]="theme()">
	<header>
		<button iconStart="@tui.home" tuiAsideItem type="button" [routerLink]="routes.home">
			<span tuiFade>Home</span>
		</button>
	</header>

	<a iconStart="@tui.calendar" [routerLink]="routes.events" tuiAsideItem>
		Events & opportunities
	</a>
	<a iconStart="@tui.book" [routerLink]="routes.payment" tuiAsideItem> Payments </a>
	@if (isAdmin()){
	<a iconStart="@tui.circle-check" [routerLink]="routes.approval" tuiAsideItem> Approvals </a>
	}
	<footer>
		<!-- <tui-aside-group [(open)]="open">
			<button iconStart="@tui.settings" tuiAsideItem tuiChevron type="button">
				Settings
				<ng-template>
					<button tuiAsideItem type="button" (click)="open = false">Account</button>
					<button tuiAsideItem type="button" (click)="open = false">Notifications</button>
					<button tuiAsideItem type="button" (click)="open = false">Privacy</button>
				</ng-template>
			</button>
		</tui-aside-group> -->
		<button
			iconStart="@tui.log-out"
			tuiAsideItem
			type="button"
			(click)="logout()"
			loading="logingOut"
		>
			Log out
		</button>
	</footer>
</aside>
