:host {
	[tuiAsideItem][tuiAsideItem]._active {
		background: #26abe4;
		border-radius: 0;
		color: white;
	}

	[tuiAsideItem][tuiAsideItem]:hover {
		background: #26abe4 !important;
		border-radius: 0;
		color: white;
	}
}

aside::before {
	display: none;
}

aside {
	height: 100%;
}

aside::after {
	display: none;
}
