<aside [style.height.rem]="27" [tuiNavigationAside]="true" [attr.tuiTheme]="theme()">
	<a
		class="link"
		iconStart="@tui.user-pen"
		[routerLink]="routes.profile"
		tuiAsideItem
		routerLinkActive="active"
	>
		My Profile
	</a>

	<!-- <a
		class="link"
		iconStart="@tui.lock"
		[routerLink]="routes.security"
		tuiAsideItem
		routerLinkActive="active"
	>
		Security & Access
	</a>

	<a
		class="link"
		iconStart="@tui.wrench"
		[routerLink]="routes.preference"
		tuiAsideItem
		routerLinkActive="active"
	>
		Prefrence
	</a> -->
</aside>
