<div class="container">
	<div class="header">
		<h3>Events</h3>
	</div>
	<div class="main-content">
		<div class="top">
			<div class="srch">
				<search tuiSearch>
					<form [formGroup]="form">
						<fieldset tuiTextfieldSize="l">
							<tui-textfield iconStart="@tui.search">
								<input placeholder="Search" tuiTextfield formControlName="search" />
							</tui-textfield>
						</fieldset>
					</form>
				</search>
			</div>

			<div class="filter">
				<div class="all">
					<tui-select [formControl]="testValue">
						Event Type
						<input placeholder="" tuiTextfieldLegacy />
						<tui-data-list-wrapper *tuiDataList [items]="items" />
					</tui-select>
				</div>
				<div class="icons">
					<tui-icon icon="@tui.upload" [style.color]="'#000000'" />
					<tui-icon icon="@tui.refresh-ccw" [style.color]="'#000000'" />
					<tui-icon icon="@tui.chevrons-up-down" [style.color]="'#000000'" />
				</div>
			</div>
		</div>
		<div class="main">
			<app-slider [slide]="slide"></app-slider>
		</div>
	</div>
	<div
		class="icon arrow"
		(click)="toggleScroll()"
		(keydown.enter)="toggleScroll()"
		(keydown.space)="toggleScroll()"
		tabindex="0"
		role="button"
		aria-label="Scroll up or down"
	>
		<tui-icon
			[icon]="isAtTop ? '@tui.arrow-down-to-line' : '@tui.arrow-up-to-line'"
			[style.color]="'#FFFFFF'"
		>
		</tui-icon>
	</div>
	<div class="footer">
		<app-cards *ngFor="let card of cards" [card]="card" class="card-item"></app-cards>
	</div>
</div>
