<div class="contribution-div">
    <div class="btn-div">
        <button class="back-arrow-btn">
            <img src="/images/arrow-left-short.svg" alt="back-arrow" class="back-arrow">
            <span>Back</span>
        </button>
    </div>
    <div class="page-content">
        <div class="did-ctd">
            <div class="content-txt-div">
                <p class="p1-ctd">Together, We Go <span class="further">Further</span></p>
                <p class="p2-ctd">Join hands with alumni around the world to create meaningful change</p>
                <img src="/images/yellow_footprint.png" alt="yellow footprint" class="yellow-footprint-img">
            </div>
        </div>
        <div class="map-img-div">
            <img src="/images/map_icon.png" alt="map_icon" class="map-img">
        </div>
    </div>
    <div class="information-box">
        <div class="box1">
            <p>Today is the day to reach out and lend a helping hand.</p>
        </div>
        <div class="box2">
            <p>You're not just donating &#8212;you're igniting possibility.</p>
        </div>
        <div class="box3">
            <p>The smallest act of giving is greater than the grandest intention.</p>
        </div>  
    </div>
</div>