<div class="custom-portal"><ng-container #viewContainer /></div>
<header tuiNavigationHeader tuiTheme="isDarkMode() ? 'dark' : 'light'">
	<button title="Menu" tuiIconButton tuiNavigationDrawer type="button" [(open)]="open">
		<tui-data-list>
			<button
				*ngFor="let menuItem of menuItems()"
				[iconStart]="menuItem.icon"
				[routerLink]="menuItem.route"
				type="button"
				tuiOption
			>
				{{ menuItem.label }}
			</button>
		</tui-data-list>
	</button>
	<span tuiNavigationLogo>
		<img src="assets/alumracle-logo.png" alt="Alumracle logo" />
	</span>
	<hr />
	<p>
		<button tuiButton type="button" (click)="darkMode.set(!darkMode())">Toggle</button>
		<button tuiButton type="button" (click)="darkMode.reset()">Reset</button>
	</p>
	<tui-avatar src="AI" />
</header>
<div [style.display]="'flex'">
	<aside [tuiNavigationAside]="expanded()" tuiTheme="isDarkMode() ? 'dark' : 'light'">
		<button
			*ngFor="let menuItem of menuItems()"
			automation-id="hint"
			[iconStart]="menuItem.icon"
			[routerLink]="menuItem.route"
			tuiAsideItem
			type="button"
		>
			<span>{{ menuItem.label }}</span>
		</button>

		<footer>
			<button
				tuiAsideItem
				type="button"
				[iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
				(click)="handleToggle()"
			>
				{{ expanded() ? 'Collapse' : 'Expand' }}
			</button>
		</footer>
	</aside>
	<main class="content-container">
		<router-outlet></router-outlet>
	</main>
</div>
