@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
	--tui-theme-color: var(--tui-background-base);
}

.drawer {
	background: var(--tui-background-base);
	color: var(--tui-text-primary);
}

.nav-header {
	block-size: 4.125rem !important;
	padding: 0 1.25rem !important;
	box-shadow: var(--tui-shadow-small);
	border-block-end: 1px solid var(--tui-border-normal);
}

.t-navigation {
	position: fixed;
	top: 4rem;
	bottom: 0;
	inline-size: 16.25rem;
	border-right: 1px solid var(--tui-border-normal);
}

@media @tui-mobile {
	.t-navigation {
		display: none;
	}
}

@media @tui-tablet-min {
	.t-menu {
		width: 200px;
		display: none;
	}
}
