<header tuiNavigationHeader [attr.tuiTheme]="theme()" class="nav-header">
	<button
		tuiNavigationDrawer
		tuiIconButton
		title="Menu"
		type="button"
		[(open)]="open"
		class="menu-button"
	>
		<app-site-navigation></app-site-navigation>
	</button>
	<!-- <span tuiNavigationLogo [routerLink]="'home'">
		<img src="/images/alumracle-logo.png" width="50px" height="50px" alt="Alumracle logo" />
	</span> -->
	<div class="welcome-container">
		<span class="text">My Portal</span>
		<span class="subtext">Welcome, {{ user()?.firstname }} 👋</span>
	</div>
	<hr />
	<p>
		<button
			appearance="secondary"
			tuiButton
			tuiIconButton
			[iconStart]="darkMode() ? '@tui.sun' : '@tui.moon'"
			type="button"
			(click)="darkMode.set(!darkMode())"
		></button>
	</p>

	<button appearance="action" tuiDropdownHover tuiButton type="button" [tuiDropdown]="dropdown">
		<tui-avatar [src]="user()?.profile" class="text" [style.background]="'AI' | tuiAutoColor" />
	</button>

	<ng-template #dropdown>
		<tui-data-list role="menu">
			<a iconStart="@tui.user-pen" role="menuitem" routerLink="account/profile" tuiOption size="s">
				Profile
			</a>
		</tui-data-list>
	</ng-template>
</header>
<div class="content-container">
	<app-site-navigation
		[theme]="theme()"
		(onLogout)="logout()"
		class="navigation"
	></app-site-navigation>
	<main class="main-container">
		<router-outlet></router-outlet>
	</main>
</div>
