.security-section {
    display: flex;
    flex-direction: column;
    gap: 5px; 
  }
  .setting-title{
    color: #254568;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .security-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    font: var(--tui-font-text-l);

    .button-group{
      display: inline-block;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  }
  
  .security-info {
    max-width: 70%;
  }
  

  .security-action button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    font-weight: 500;
    font-size: 0.875rem;
    white-space: nowrap;
  }
.deleteButton{
    color: #C74634;
    cursor: pointer;
  }
.deleteHeader{
  color: #C74634;
  font-weight: 500;
}