<h1 class="setting-title">Security Access</h1>
<form [formGroup]="testForm" class="security-section">

        <label class="security-item" appearance="secondary" tuiBlock>
            <div class="security-info">
                <span tuiTitle>
                    Change Password
                    <span tuiSubtitle>
                        Keep your account secure by updating your password regularly.            
                    </span>
                </span>
            </div>
            <input formControlName="testValue3" tuiButton type="button"/>
            <div tuiAppearance="outline" tuiButtonGroup class="security-action">
                <button type="button">
                    <tui-icon icon="@tui.pencil-line" />
                    Edit Password
                </button>
            </div>
        </label>
</form>