:host {
	--tui-background-base: #fff;
	--tui-theme-color: #fff !important;
}

[tuiTh],
[tuiTd] {
	border-inline-start: none;
	border-inline-end: none;
}

[tuiTable][data-size='s'] [tuiTitle] {
	flex-direction: row;
	gap: 0.375rem;
}

table {
	width: 100%;

	th {
		border-top: 1px solid #eaeaea;
	}
}

tui-loader {
	margin: 0 auto;
}

footer {
	padding-top: 10px;
	display: flex;
	justify-content: space-evenly;
}

.heading {
	font-weight: 600;
	font-size: 28px;
	line-height: 55px;
	color: rgba(37, 69, 104, 1);
}
