@import '@taiga-ui/core/styles/taiga-ui-local.less';
.containers {
    display: grid;
    grid-template-columns: 1fr 250px;
    overflow: hidden;
  background: #F5FCFFFA;
  @media @tui-tablet {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 250px;
    width: 100%;
}
@media @tui-mobile {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
  }

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin: 1em;  
    @media @tui-tablet {
      width: auto;
      max-width: 100%;
      overflow: hidden;
      margin: 0.5em;
  }
  @media @tui-mobile {
    display: grid;
    grid-template-columns: 1fr;
}
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media @tui-mobile {
      display: grid;
      grid-template-columns: 1fr;
  }
}
  .group3 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;


}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 1em;
    flex-wrap: wrap;
    height: 4em;
    margin-top: -1em;
}

.link h4 {
    font-size: 16px;
    color: #254568;
}

.card1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0 10px 10px 10px;
    @media @tui-tablet {
display: grid;
grid-template-columns:  1fr;

  }

  @media @tui-mobile {
    display: grid;
    grid-template-columns: 1fr;

  }
  }

  .pay, .find, .register {
    background-color: #25688E;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    @media @tui-mobile {

      
        }
        
  }
  .pay p, .find p, .register p {
    color: #FFFFFF !important;
font-size: 12.36px;
line-height: 15.97px;
letter-spacing: 0px;
vertical-align: middle;

}



.heads {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    @media @tui-tablet {
    padding: 0;
  }
}

.event, .more a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.event h4 {
    font-size: 16px;
    color: #254568;
    margin-left: 10px;

}
.event span i{
  background: #254568;

}
.more{
    margin-right: 10px;
    margin-top: 1em;
    height: 5px;
   @media @tui-tablet {
      height: 100%;
  }    
}
.more a p {
    margin-top: 10px;
font-size: 13px;
line-height: 21.92px;
letter-spacing: 0px;
 color: #25688E;
}

.card2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 15px 15px 15px;
  flex-wrap: wrap; 
  margin-top: -1em;
  @media @tui-tablet {
    grid-template-columns: 1fr; 
    margin-top: 0;
}

@media @tui-mobile {
    grid-template-columns: 1fr;
    margin-top: 0;
}


  }
  .summit, .network, .career {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: -3.11px 3.11px 14.44px 0px #00000040;
    max-width: 300px; 
    min-width: 230px;
    background: #FFFFFF;
    height: 8em;
    @media @tui-tablet {
      grid-template-columns: 1fr; 
      margin-top: 0;
      max-width: 300px;
  }

@media @tui-mobile {
  grid-template-columns: 1fr;
  max-width: 250px;
}

}
  .lead {
    padding: 5px;
    width: 60%;

  }
  
  .lead h4 {
    color: #191C30E5;
    font-size: 11px;

  }
  
  .lead p {
    color: #191C30E5;
    font-size: 11px;
    margin: 0;
    line-height: 1.2;
    border: none;
    width: 100%;
  }

  .summit-image, .card2-image {
    background: #BDCCD8;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .card2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.summit-image img {
  margin: 1em 2.8em 0.6em 2em;
    font-size: 2em;
}

.arrow {
    
    margin-top: 10px;
    margin: 0 30px 4px 0;
  
    margin-left: 6.9em;
   
  }

.group3 h4 {

    font-size: 16px;
    color: #254568;
    margin-left: 1em;
}

.card3 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 10px;
    margin-top: -1em;
    @media @tui-tablet {
      grid-template-columns: 1fr; 
      padding: 0;
      margin-top: 0;
  
  }
  @media @tui-mobile {
    grid-template-columns: 1fr; 
    padding: 0;
    margin-top: 0;

}
  
  }

.file, .calender, .transaction {
    display: flex;
    justify-content: space-between;
    border: 0.87px solid #F3F3F3;
    @media @tui-tablet {
      grid-template-columns: 1fr; 
      padding: 0;
      margin-top: 0;
  
  }
        @media @tui-mobile {
         display: flex;
         flex-direction: column;
      
        }
}

 
  .section {
    display: flex;
    justify-content: flex-start;
    width: 50em;
    gap: 4em;
    margin-left: 1em;
    align-items: center; 
    @media @tui-tablet {
     
      margin: 0;
      gap: 1em;
      width: 30em;
     }
     @media @tui-mobile {
      margin-left: 5px;
      gap: 5px;
   
     }
  }
 
  .date{
    margin-right: 1.2em;
          
    @media @tui-mobile {
      margin-left: 2.5em;
   font-size: 10px;
     }

  }

.section p {
    font-size: 12px;
    @media @tui-mobile {
      font-size: 10px;
   
     }
}

.calender-section {
  margin: 1em 1em 0 0.5em;
  @media @tui-tablet {
    
      display: block;
      }
    
      @media @tui-mobile {

        
    display: none;
      }
  }
  .calender-section .title{
    border-bottom: 1px solid #95959578;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
  }
  .calender-section .title p{
    margin-left: 1em;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0px;
  }
  
  .calender-section i{
    color: #254568;
    font-size: 20px;
  
  }
  .wrapper{
    background-color: #fff;
    margin-top: -1em;
    height: 100%;
    @media @tui-tablet {
      height: 70%;
      
        }
      
        @media @tui-mobile {
     
          height: 70%;
      
        }
  }
  .right-calender{
    height: 20em;
  }
  tui-calendar {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transform: scale(0.6);
    margin-left: 2em;
    margin-top: 2em;
    transform-origin: top left;
  
  }
  .reminder h3{
    font-size: 15px;
    line-height: 1px;
    margin-left: 2em;
  }
  .reminder-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 200px; 
    overflow-y: auto; 
    padding-right: 5px; 
  }
  
  .reminder-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
  
  .date-box {
    width: 50px;
    text-align: center;
    font-size: 10px;
    color: #333;
  }
  
  .day {
    display: block;
    font-size: 20px;
  }
  
  .month {
    display: block;
    font-size: 12px;
    color: gray;
  }
  
  .reminder-content {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .vertical-line {
    width: 3px;
    height: 35px;
    background-color: #d9534f; 
    margin-right: 10px;
  }
  
  p {
    font-size: 9px;
    color: #555;
  }
  

  .reminder-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .reminder-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }
  
  .reminder-container::-webkit-scrollbar-thumb {
    background: #d9534f;
    border-radius: 3px;
  }
  