<div class="container">
    <div class="content">
        <div class="logo">
            <img src="images/alumracle-logo.png" alt="cant be loaded">
        </div>
        <div class="main">

            <div class="appreciate">
                <h2>Thank your for signing up!</h2>
            </div>

            <div class="text1">
                <p>
                    Your registration has been submitted and is currently awaiting
                    verification. Our team will review your details and notify you via 
                    email once your account is approved.
                </p>
            </div>

            <div class="image">
                <img src="images/Vector.svg" alt="cant be loaded">
            </div>

            <div class="info">
                <h4>What’s Next?</h4>
                <ul>
                    <li>
                        Verification typically takes [X] hours.
                    </li>
                    <li>
                        You will receive an email confirmation once your 
                        account is approved.
                    </li>
                    <li>
                        While waiting, feel free to explore public sections of 
                        our platform.
                    </li>
                    
                </ul>
            </div>

        </div>
        
        <div class="footer">
            <p >You will be automatically redirected to the home page in 25 seconds. If you are not redirected,
                <a href=""> click here</a>
             </p>
    </div>
</div>