<div class="container">
    <div class="image">
        <button
        class="back-button"
            appearance="secondary"
            iconStart="@tui.arrow-left"
            tuiButton
            type="button"
        >
        </button>
        <img class="image" src="images/group-people-standing-park-sunlight.jpg" alt="">
    </div>

    <div class="details">
        <button
        class="register-button"
            iconStart="@tui.pen-line"
            tuiButton
            type="button"
            [loading]="loading$ | async"
            (click)="trigger$.next()"
        >
             Register
        </button>
        <div class="text">
            <h1 class="event-title">Leadership Summit 2025</h1>
            <h2>Details</h2>
            <p>Donec ac risus metus. Suspendisse ultrices purus sed metus rutrum, eget pharetra quam tristique. Vestibulum ante ipsum primis in 
                faucibus orci luctus et ultricesposuere cubilia curae; Suspendisse non sapien a nunc elementum mattis. Aliquam euismod ex vitae 
                velit mollis ullamcorper. Aenean laoreet ex dui, ornare rhoncus sem interdum nec.
            </p> 
            <p>Pellentesque vel tortor id ipsum fermentum pretium eu eget dui. Quisque a 
                commodo neque. Mauris augue lectus, vulputate placerat felis ac, convallis 
                volutpat lorem. Ut eros augue, fermentum id maximus vel, volutpat id nunc. Suspendisse vitae justo nunc. 
                In erat turpis, fermentum malesuada odio lacinia, feugiat ultrices nisi. Donec at velit a nisi efficitur sollicitudin.
            </p>
            <p>Maecenas molestie nec dui ac euismod. Sed ornare ipsum vitae 
                euismod luctus. Duis imperdiet massa sit amet justo pharetra, nec commodo enim dictum. 
                Quisque in elementum mauris. Proin lobortis nisl sed leo egestas, eget vestibulum magna egestas. Sed mi purus, 
                ultricies ut erat eu, convallis finibus ligula. Maecenas condimentum in quam et semper. Phasellus condimentum nisi eget ligula vulputate,
                 in aliquet enim sollicitudin. In vitae eros vitae sem pulvinar consequat quis vel tellus.
            </p> 
            <div class="event-information">
                <span tuiTitle>
                    <span>
                        Date
                    </span>
                    <span tuiSubtitle>21/05/2025</span>
                </span>
                <span tuiTitle>
                    <span>
                        Time
                    </span>
                    <span tuiSubtitle>15:00</span>
                </span>
                <span tuiTitle>
                    <span>
                        Event Mode
                    </span>
                    <span tuiSubtitle>Hybrid</span>
                </span>
                <span tuiTitle>
                    <span>
                        Lorem
                    </span>
                    <span tuiSubtitle>Ipsum</span>
                </span>
            </div>
        </div>
    </div>
</div>
