<div class="slideshow-container">
	<div
		class="slideshow"
		[ngStyle]="{ 'background-image': 'url(' + currentSlide + ')' }"
		[@slideAnimation]="animationState"
	>
		<div class="text-overlay">
			<span class="event-type">{{ slide?.type }}</span>
			<h2>{{ slide?.title }}</h2>
			<p class="description">{{ slide?.description }}</p>
			<div class="event-details">
				<p>
					<tui-icon icon="@tui.calendar-check" [style.color]="'#26ABE4'" />
					{{ slide?.date }}
				</p>

				<p><tui-icon icon="@tui.alarm-clock" [style.color]="'#26ABE4'" />10:00 AM</p>
			</div>
			<div class="buttons">
				<button class="details-btn" (click)="navigateTo('more')">
					<tui-icon icon="@tui.check" [style.color]="'#FFFFFF'"></tui-icon>
					More
				</button>
				<button class="details-btn" (click)="navigateTo('more')">
					<tui-icon icon="@tui.check" [style.color]="'#FFFFFF'"></tui-icon>
					More
				</button>
			</div>
		</div>
	</div>
</div>
